{% extends "base.html" %}
{% block title %} Tus Listas {% endblock %}
{% block content %} 
<h2 text-center fs-3> {{ls.name}} </h1>
<ul class="list-group w-50 mx-auto m-4">
    {% for item in ls.item_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{item.text}}
            <a href="{{ls.id}}/rmItem/{{item.id}}">
                <button type="button" class="btn btn-danger me-md-2" name="c{{item.id}}">Eliminar</button>
            </a>
        </li>
    {% endfor %}    
</ul>

<h2>Añadir tarea</h1>
<form method = "POST" action = "#">
    {% csrf_token %}
    <input type="text", name="name", placeholder="Nombre de la tarea">
    <button type="Submit", name="newTask", value="newTask">Añadir Tarea</button>
{% endblock %}  